.googleimage {
    width: 35%;
     margin-left:35%;
    margin-top: 15%
}

.form {
    margin-left: 32%;
    margin-top: 0%
   

    
}




.buttons {
    margin-left: 43%;
    margin-top: -5%;
    padding: 2%;
}

.font-sizze {
    font-size: 20px;
    width: 60%;
    length: 50%;
    padding: 1%;
}

.footer {
    margin-top: 15%;

}



.footer-content {
    display: flex;
    justify-content: middle;
    margin-left: 50%;
    p:hover {
        color: rgb(3, 3, 75);
    }
}

.abstand {
    margin-left: 10%;
}

.header {
    margin-top:5%;
    .login{
        background-color: rgb(232, 93, 93);
        border-width: thin;
        border-color: rgb(78, 3, 3);
        border-radius: 6%;
        color: white;
        font-size: 20px;
        font-weight: bold;
        padding: 1%;
        width: 8%;
        position: absolute;
        top: 5%;
        right: 5%;
    }
}